body {
    font-family: 'Arial', sans-serif;
    background: url('bg.jpg');
    background-size: cover; /* Ensures the background image covers the entire page */
    /*color: #fff;*/
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    height: 100%;
}

.container {
    background: rgba(0, 0, 0, 0.6); /* Darkened to make the container content readable */
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    text-align: center;
    max-width: 400px;
    width: 100%;
}

h1 {
    margin-bottom: 20px;
    font-size: 28px;
    font-weight: bold;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="file"] {
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    background: #fff;
    color: #333;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

input[type="file"]:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

button {
    padding: 12px 20px;
    background: #FF5722;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background 0.3s ease;
}

button:hover {
    background: #E64A19;
}

@media (max-width: 600px) {
    .container {
        padding: 20px;
        width: 90%;
    }

    h1 {
        font-size: 24px;
    }

    button {
        width: 100%;
    }
}
